/* Page centering */
.register-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card */
.register-card {
  width: 360px;
  border: 3px solid #000;
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title */
.register-title {
  margin-bottom: 20px;
  text-align: center;
}

/* Labels */
.register-card label {
  width: 100%;
  text-align: left;
  margin-bottom: 4px;
  font-weight: 500;
}

/* Inputs */
.register-card input {
  width: 100%;
  padding: 8px;
  margin-bottom: 14px;
  text-align: center;
}

/* Button */
.register-btn {
  width: 100%;
  padding: 10px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Login link */
.login-text {
  margin-top: 16px;
  text-align: center;
}
